/*
===================================
|| Fonts                          |
===================================
*/
/* font inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font dancing script */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");

/*
===================================
|| VARIABLES                      |
===================================
*/
:root {
  /* dark shades of primary color*/

  --CLR-PRIMARY-1: hsl(240, 41%, 7%);
  --CLR-PRIMARY-2: hsl(239, 42%, 34%);
  --CLR-PRIMARY-3: hsl(239, 42%, 43%);
  --CLR-PRIMARY-4: hsl(238, 48%, 53%);
  /* primary/main color */
  --CLR-PRIMARY-5: hsl(239, 84%, 67%);
  --CLR-PRIMARY-8: hsl(238, 83%, 82%);
  --CLR-PRIMARY-10: hsl(239, 83%, 88%);

  /* SECONDARY  */

  --CLR-SECONDARY-1: hsl(221, 73%, 29%);
  --CLR-SECONDARY-3: hsl(221, 72%, 43%);
  /* secondary main */
  --CLR-SECONDARY-5: hsl(221, 83%, 53%);
  --CLR-SECONDARY-7: hsl(221, 83%, 67%);
  --CLR-SECONDARY-9: hsl(221, 83%, 79%);
  /* gray shades */
  --CLR-GREY-1: hsl(0, 0%, 11%);
  --CLR-GREY-2: hsl(0, 0%, 17%);
  --CLR-GREY-3: hsl(0, 0%, 20%);
  --CLR-GREY-4: hsl(0, 0%, 44%);
  --CLR-GREY-5: hsl(0, 0%, 76%);
  --CLR-GREY-6: hsl(0, 0%, 95%);
  /* grey used for paragraphs */

  --CLR-WHITE: 0, 0%, 100%;
  --CLR-BLACK: 0, 0%, 0%;
  --FF-PRIMARY: "Inter", sans-serif;
  --FF-SECONDARY: "Dancing Script", cursive;

  --FS-PRIMARY: 62.5%;
  /* --FS-PRIMARY: clamp(50%, 1.5vw, 62.5%); */
  /* --FS-PRIMARY-FALLBACK: clamp(50%, 1.5dvw, 62.5%); */

  --TRANSITION: all 0.3s;
  --LETTER-SPACING: 0.025em;
  --RADIUS: 0.5rem;
  --LIGHT-SHADOW: 0 5px 15px rgba(0, 0, 0, 0.1);
  --DART-SHADOW: 0 5px 15px rgba(0, 0, 0, 0.2);
  --MAX-WIDTH: 1170px;
}
/*
===================================
|| BASIC RESET                    |
===================================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--FS-PRIMARY);

  scroll-behavior: smooth;
}

body {
  font-family: var(--FF-PRIMARY);

  line-height: 1.5;
  font-weight: 400;
}

button,
input,
textarea,
select,
input::placeholder {
  font: inherit;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: transparent;
}
video,
picture,
img,
audio {
  display: block;
  max-width: 100%;
}
svg {
  display: block;
}

span,
a {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul,
ol,
menu {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  letter-spacing: var(--LETTER-SPACING);
  line-height: 1.2;
  margin-block-end: 0.3em;
}
h1 {
  font-size: clamp(5.2rem, 5vw, 6.2rem);
  font-size: clamp(5.2rem, 5dvw, 6.2rem);
}
h2 {
  font-size: clamp(3.4rem, 5vw, 4.2rem);
  font-size: clamp(3.4rem, 5dvw, 4.2rem);
}
h3 {
  font-size: clamp(2.8rem, 5vw, 3.2rem);
  font-size: clamp(2.8rem, 5dvw, 3.2rem);
}
h4 {
  font-size: clamp(2rem, 5vw, 2.8rem);
  font-size: clamp(2rem, 5dvw, 2.8rem);
  margin-block-end: 0.7em;
}
@media screen and (min-width: 48em) {
  h4 {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    font-size: clamp(1.4rem, 5dvw, 1.6rem);
  }
}
p {
  color: var(--CLR-GREY-4);
  line-height: 1.7;
}

/* layout settings */
.offscreen {
  left: -9999999999;
}

.container {
  max-width: min(90%, 130rem);
  margin-inline: auto;
}
.btn,
.btn:any-link {
  background-color: var(--CLR-PRIMARY-5);
  font-size: 1.6rem;
  border-radius: 7px;
  padding: 0.6em 1.2em;
  color: hsl(var(--CLR-WHITE));
  font-weight: 600;
  transition: var(--TRANSITION);
  box-shadow: var(--LIGHT-SHADOW);
}
.btn:is(:hover, :focus, :active) {
  background-color: var(--CLR-PRIMARY-4);
  box-shadow: var(--DART-SHADOW);
}

.section__animation {
  filter: blur(50px);

  animation: 1s ease forwards;
}
/*
===================================
|| Animation                         |
===================================
*/
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromBottomClear {
  0% {
    transform: translateY(200%);
  }
  100% {
    filter: blur(0px);
    transform: translateY(0);
  }
}
/*
===================================
|| NAVBAR                         |
===================================
*/
.header {
  height: 8rem;
}
.navbar {
  height: 100%;
  background-color: white;

  position: relative;
  z-index: 999999;
  box-shadow: var(--DART-SHADOW);
}

.navbar__container {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: auto min-content;
}

@media screen and (min-width: 48em) {
  .navbar__container {
    grid-template-columns: auto min-content auto;
  }
  .logo__container {
    /* width: 12.9rem; */
  }
}

.nav__logo__link,
.main__logo__link {
  font-family: var(--FF-SECONDARY);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  transition: var(--TRANSITION);
  color: var(--CLR-GREY-3);
}
.nav__logo__link:is(:hover, :focus, :active),
.main__logo__link:is(:hover, :focus, :active) {
  filter: invert(20%);
  transform: scale(1.1);
}
.nav__logo,
.main__logo {
  height: 3.5rem;
}
.brand__name__accent {
  color: var(--CLR-PRIMARY-5);
}
.nav__list {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  right: -100%;

  transition: var(--TRANSITION);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-duration: 0.2s;
}

.nav__open .nav__list {
  right: 0;
}
@media screen and (min-width: 48em) {
  .nav__list {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    flex-direction: row;
  }
}
.nav__link,
.nav__link:any-link {
  font-size: clamp(1.8rem, 1.5vw, 2rem);
  color: var(--CLR-PRIMARY-3);
  font-weight: 600;
  letter-spacing: 0.02em;
  background-image: linear-gradient(145deg, transparent 50%, white 50%);
  background-size: 300%;
  padding: 0.5em 0.8em;
  transition: var(--TRANSITION);
  transition-duration: 0.2s;
}

.nav__link:is(:hover, :focus, :active) {
  background-position: right;
}
@media screen and (min-width: 48em) {
  .nav__link,
  .nav__link:any-link {
    background-image: none;
    font-size: 1.8rem;
    position: relative;
    color: var(--CLR-GREY-3);
  }

  .nav__link:is(:hover, :focus, :active) {
    color: var(--CLR-PRIMARY-5);
  }

  .nav__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    left: 50%;
    bottom: -0.5rem;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    background-color: var(--CLR-PRIMARY-5);
    transition: var(--TRANSITION);
  }
  .nav__link.active::after {
    width: 70%;
  }
}
.cta__action {
  display: none;
}
@media screen and (min-width: 48em) {
  .cta__action {
    display: block;
  }

  .cta__action__link,
  .cta__action__link:any-link {
    background-color: var(--CLR-PRIMARY-5);
    color: hsl(var(--CLR-WHITE));
    border-radius: 0.5rem;
  }
  .cta__action__link:is(:hover, :focus, :active) {
    background-color: var(--CLR-PRIMARY-4);
  }
}
.toggle__menu {
  border: none;
  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
}

@media screen and (min-width: 48em) {
  .toggle__menu__action {
    display: none;
  }
}

/* toggle btn icon container */
.menu__icon {
  height: 100%;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 999;
}
/* toggle btn icon  */
.menu__icon > div,
.menu__icon::after,
.menu__icon::before {
  content: "";
  width: 80%;
  height: 4px;
  background-color: var(--CLR-PRIMARY-5);
  transition: var(--TRANSITION);
  transition-duration: 0.2s;
}
.menu__icon > div {
  width: 40%;
  justify-self: start;
  margin-left: 10%;
}
.menu__icon::after,
.menu__icon::before {
  position: absolute;
}
.menu__icon::after {
  top: 22%;
}
.menu__icon::before {
  bottom: 22%;
}

/* toggle btn icon hover  */
.menu__icon:hover > div,
.menu__icon:hover::after,
.menu__icon:hover::before {
  background-color: var(--CLR-PRIMARY-4);
}
.menu__icon:hover::after {
  top: 18%;
}
.menu__icon:hover::before {
  bottom: 18%;
}

.nav__open .menu__icon > div {
  width: 0;
  height: 0;
  border-radius: 50%;
  justify-self: center;
  margin-left: 20%;
}
.nav__open .menu__icon::after {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.nav__open .menu__icon::before {
  bottom: 50%;
  transform: translateY(50%) rotate(-135deg);
}

.nav__open .menu__icon > div,
.nav__open .menu__icon::after,
.nav__open .menu__icon::before {
  background-color: hsl(0, 100%, 50%);
}

.nav__background__overlay {
  background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY-8),
    var(--CLR-PRIMARY-10)
  );
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  position: fixed;
  right: -15%;
  top: 2.4rem;
  transition: var(--TRANSITION);
}

@media screen and (min-width: 48em) {
  .nav__background__overlay {
    display: none;
  }
}
.nav__open .nav__background__overlay {
  transform: scale(80);
}
/*
===================================
|| FOOTER                  |
===================================
*/
.footer {
  margin-block: 8rem 4rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5rem 3rem;
  margin-block-end: 4rem;
}

@media screen and (min-width: 62em) {
  .footer__container {
    grid-template-columns: 3fr repeat(4, 1fr);
  }
}

.logo__col {
  grid-column: 1/-1;
}
@media screen and (min-width: 62em) {
  .logo__col {
    grid-column: auto;
  }
}

.footer__logo__container {
  display: flex;
  margin-block-end: 1.5rem;
}
.footer__text {
  font-size: 1.6rem;
  margin-block-end: 2rem;
}
.footer__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-block-end: 1em;
}
.footer__links__list {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  gap: 0.8rem;
}
.footer__link,
.footer__link:any-link {
  font-size: 1.4rem;
  color: var(--CLR-GREY-4);
  font-weight: 500;
  transition: var(--TRANSITION);
}
.footer__link:is(:hover, :focus, :active) {
  color: var(--CLR-PRIMARY-5);
}
.copyright__container {
  border-top: 1px solid var(--CLR-GREY-5);
}
.footer__copyright {
  display: block;
  padding-block-start: 4rem;
  text-align: center;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 600;
}
