/*
===================================
|| HERO                           |
===================================
*/
.hero {
  margin-block: clamp(4rem, 5vw, 6rem);
}

.hero__container {
  padding-block: 2.5rem 5rem;
  display: grid;
  gap: 4rem 7rem;
}
@media screen and (min-width: 48em) {
  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.hero__text__container {
  text-align: center;
  animation: slideFromLeft 1s ease forwards;
}
@media screen and (min-width: 48em) {
  .hero__text__container {
    text-align: left;
  }
}
.hero__sub__title {
  font-size: 1.8rem;
  color: var(--CLR-PRIMARY-5);
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-block-end: 0.8em;
}

.hero__title {
  font-size: clamp(3.6rem, 5.5vw, 6rem);
  font-size: clamp(3.6rem, 5.5dvw, 6rem);
  margin-block-end: 2.5rem;
}
.hero__main__container {
  margin-block-end: 2.5rem;
}
.hero__text {
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
.hero__footer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
@media screen and (min-width: 48em) {
  .hero__footer {
    justify-content: start;
  }
}
.hero__btn,
.hero__btn:any-link {
  background-color: var(--CLR-GREY-4);
}
.hero__btn:is(:hover, :focus, :active) {
  background-color: var(--CLR-GREY-3);
}

.hero__img {
  border-radius: 1.8rem;
  max-width: 80%;
  margin-inline: auto;
}

/*
===================================
|| Partners                       |
===================================
*/
.partners {
  margin-block: 6rem;
}
.partners__title {
  font-size: clamp(2.4rem, 5.5vw, 3.6rem);
  font-size: clamp(2.4rem, 5.5dvw, 3.6rem);
  margin-block-end: 3.2rem;
  text-align: center;
}
.partners__list {
  background-color: var(--CLR-GREY-6);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  justify-content: center;
  gap: 2rem;
  max-width: min(90%, 65rem);
  margin-inline: auto;
  padding: 2rem 4rem;
  border-radius: 11px;
}

.partner__item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.partner__icon {
  width: 2.5rem;
}
.partner__item__title {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/*
===================================
|| FEATURES                       |
===================================
*/

.features {
  background-color: var(--CLR-GREY-6);
  padding-block: 6rem;
  margin-block: 6rem;
}
.features__container {
  max-width: min(90%, 80rem);
  margin-inline: auto;
}
.features__title {
  text-align: center;
  font-size: clamp(2.8rem, 5.5vw, 3.6rem);
  font-size: clamp(2.8rem, 5.5dvw, 3.6rem);
  margin-block-end: 1.6rem;
}
.features__text {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-block-end: 5rem;
}
.features__list {
  display: grid;
  gap: 3.2rem;
}
@media screen and (min-width: 48em) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.feature__item__container {
}
.feature__item__container:nth-child(1) .feature__item {
  background-color: #4a90e2;
}
.feature__item__container:nth-child(2) .feature__item {
  background-color: #ff6289;
}
.feature__item__container:nth-child(3) .feature__item {
  background-color: #fcbf58;
}
.feature__item__container:nth-child(4) .feature__item {
  background-color: #44bfc3;
}
.feature__item__container:nth-child(5) .feature__item {
  background-color: #77b05d;
}
.feature__item__container:nth-child(6) .feature__item {
  background-color: #7d78b1;
}
.feature__item {
  height: 100%;
  padding: 2.5rem;
  display: grid;
  justify-items: center;
  grid-template-rows: auto 1fr;
  border-radius: 11px;
}
.feature__item header {
  display: grid;
  justify-items: center;
}
.feature__img__container {
  padding: 1rem;
  display: inline-block;
  border-radius: 50%;
  background-color: hsl(var(--CLR-WHITE));
  margin-block-end: 1.6rem;
}
.feature__img {
  width: 2.4rem;
  height: 2.4rem;
}

.feature__title {
  text-align: center;
  font-size: 2rem;
  color: hsl(var(--CLR-WHITE));
  margin-block-end: 1.6rem;
}
.feature__text {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: hsl(var(--CLR-WHITE));
}

/*
===================================
|| TESTIMONIALS                   |
===================================
*/
.testimonials {
  padding-block: 2rem;
  margin-block: 6rem;
}

.testimonials__title {
  text-align: center;
  font-size: clamp(2.8rem, 5.5vw, 3.6rem);
  font-size: clamp(2.8rem, 5.5dvw, 3.6rem);
  margin-block-end: 4rem;
}
.testimonials__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3.2rem;
}
.testimonial__item {
  height: 100%;
  padding: 2rem;
  border: 1px solid var(--CLR-GREY-4);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--TRANSITION);
}
.testimonial__item:hover {
  border-color: var(--CLR-PRIMARY-5);
  box-shadow: var(--LIGHT-SHADOW);
  transform: scale(1.05);
}
.testimonial__quote p {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  padding-block: 2rem 1.6rem;
  padding-inline: 1rem;
  display: inline-block;
}
/* .testimonial__quote p::after,
.testimonial__quote p::before {
  content: "";
} */
.testimonial__quote p::before {
  font-size: 7rem;
  color: var(--CLR-PRIMARY-5);
  position: absolute;
  content: "\201C";
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
}
/* .testimonial__quote p::after {
  content: "\201D";
  bottom: -2rem;
  right: -1rem;
} */
.testimonial__author__img {
  width: 8rem;
  margin-block-end: 1.6rem;
  margin-inline: auto;
}
.testimonial__author__name {
  text-align: center;
}
.testimonial__author__name cite {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  color: var(--CLR-PRIMARY-5);
}
.testimonial__author__position {
  font-size: 1.4rem;
}

/*
===================================
|| NEWSLETTER                  |
===================================
*/
.newsletter {
  margin-block: 6rem;
}
.newsletter__container {
  display: grid;
  overflow: hidden;
  border-radius: 2rem;
}
@media screen and (min-width: 48em) {
  .newsletter__container {
    grid-template-columns: 45fr 55fr;
  }
}
.newsletter__img__container {
  display: none;
}
@media screen and (min-width: 48em) {
  .newsletter__img__container {
    display: block;
  }
}
.newsletter__img {
  height: 100%;
  object-fit: cover;
}
.newsletter__text__container {
  background-color: var(--CLR-GREY-6);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter__title {
  /* text-align: center; */
  font-size: clamp(2.8rem, 5.5vw, 3.6rem);
  font-size: clamp(2.8rem, 5.5dvw, 3.6rem);
  color: var(--CLR-PRIMARY-5);
  margin-block-end: 0.5rem;
}
.newsletter__main__content {
}
.newsletter__text {
  font-size: 1.5rem;
  margin-block-end: 1.6rem;
}
.newsletter__form {
  display: flex;
  gap: 1rem;
  margin-block-end: 3rem;
}
.newsletter__input {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--CLR-GREY-4);
  border-radius: 0.5rem;
  outline: none;
  box-shadow: var(--LIGHT-SHADOW);
  transition: var(--TRANSITION);
}
.newsletter__input:focus-within {
  box-shadow: var(--DART-SHADOW);
}
.newsletter__btn {
  font-size: 1.4rem;
  padding: 0.4em 1em;
  font-weight: 500;
}
.privacy-policy {
  font-size: 1.2rem;
  color: var(--CLR-GREY-5);
}
.privacy-policy a {
  color: var(--CLR-PRIMARY-5);
  text-decoration: underline;
}
.social__list {
  display: flex;
  gap: 1rem;
}
.social__item a {
  cursor: pointer;
  transition: var(--TRANSITION);
}
.social__item a:is(:hover, :focus, :active) {
  transform: scale(1.1);
  color: var(--CLR-PRIMARY-5);
}
.social__item svg {
  fill: currentColor;
}
